.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    place-items: center;
}

.container > div {
    text-align: center;
}

.double-row {
    grid-row: auto / span 2;

}

.double-column {
    grid-column: auto / span 2;
}

.button {
    text-align: center;
}

.button-numeral {
    background-color: gray;
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    cursor: pointer;
    border-color: gray;
    border-radius: 100%;
}