.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    place-items: center;
    gap: 5px;
}

.container > div {
    text-align: center;
}

.double-row {
    grid-row: auto / span 2;

}

.double-column {
    grid-column: auto / span 2;
}

.button {
    text-align: center;
}

.button-numeral {
    background-color: gray;
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    cursor: pointer;
    border-color: gray;
    border-radius: 100%;
}

.button-ac {
    background-color: orange;
    color: black;
    font-size: 20px;
    padding: 10px 15px;
    cursor: pointer;
    border-color: orange;
    border-radius: 5px;
}

.button-divide {
    background-color: blue;
    color: black;
    font-size: 20px;
    padding: 10px 15px;
    cursor: pointer;
    border-color: blue;
    border-radius: 5px;
}

.button-multiply {
    background-color: pink;
    color: black;
    font-size: 20px;
    padding: 10px 15px;
    cursor: pointer;
    border-color: pink;
    border-radius: 5px;
}

.button-subtract {
    background-color: red;
    color: black;
    font-size: 20px;
    padding: 10px 15px;
    cursor: pointer;
    border-color: red;
    border-radius: 5px;
}

.button-add {
    background-color: yellow;
    color: black;
    font-size: 20px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    border-color: yellow;
    border-radius: 5px;
}

