.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 5px;
    max-width: 250px;
    padding-left: 50px;
    padding-right: 50px;
}

.cell {
    text-align: center;
    align-self: center;
}

.double-row {
    grid-row: auto / span 2;
    align-items: center;

}

.double-column {
    grid-column: auto / span 2;
    align-items: center;
}

.button {
    text-align: center;
    align-items: center;
}

.button-numeral {
    background-color: gray;
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    cursor: pointer;
    border-color: gray;
    border-radius: 100%;
}

.button-ac {
    background-color: orange;
    color: black;
    font-size: 20px;
    padding: 10px 15px;
    cursor: pointer;
    border-color: orange;
    border-radius: 5px;
}

.button-divide {
    background-color: blue;
    color: black;
    font-size: 20px;
    padding: 10px 15px;
    cursor: pointer;
    border-color: blue;
    border-radius: 5px;
}

.button-multiply {
    background-color: pink;
    color: black;
    font-size: 20px;
    padding: 10px 15px;
    cursor: pointer;
    border-color: pink;
    border-radius: 5px;
}

.button-subtract {
    background-color: red;
    color: black;
    font-size: 20px;
    padding: 10px 15px;
    cursor: pointer;
    border-color: red;
    border-radius: 5px;
}

.button-add {
    background-color: yellow;
    color: black;
    font-size: 20px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    border-color: yellow;
    border-radius: 5px;
}

.button-equals {
    background-color: green;
    color: black;
    font-size: 20px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    border-color: green;
    border-radius: 5px;
}

.button-zero {
    background-color: lightgray;
    color: black;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
    border-color: lightgray;
    border-radius: 5px;
}

.button-point {
    background-color: darkgray;
    color: black;
    font-size: 20px;
    padding: 10px 17px;
    cursor: pointer;
    border-color: darkgray;
    border-radius: 5px;
}

p.calculator-display {
    font-family: 'DSEG14ClassicRegular';
    font-weight: normal;
    font-size: 25px;
    color: red;
    word-wrap: break-word;
}

.container-calc-display {
    display: grid;
    grid-template-columns: minmax(0, 275px);
    padding: 25px;
}

.container-calc-display > div {
    background-color: black;
    border: 1px solid black;
    padding: 10px;
    width: 100%;
    text-overflow: clip;
}

